@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500;600;700;800&family=PT+Sans:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}
.nav-bar {
  padding-left: 8px;
  padding-right: 20px;
}
.p10 {
  padding: 10px;
}